*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
*::selection{
    background-color:#fff ;
    color: #96c11e;
}
body::-webkit-scrollbar{
   display: block;
   width: 8px;
   background-color: #95C11E;
}
body::-webkit-scrollbar-thumb{
   background-color: #fff;
   border-radius:50px;
}
#cursor{
 height: 20px;
 width: 20px;
 background-color: #96c11e;
 border-radius:50%;
 position:fixed;
 z-index: 99;
}
#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: #96c11e56;
    border-radius:50%;
    position:fixed;
    filter: blur(40px);
    z-index: 9;
   }

#nav{
    height: 120px;
    width:100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    position:fixed;
    justify-content: flex-start;
    padding:0 150px;
    gap:40px;
    z-index: 99;
}
#nav img{
    height: 80px;
}

#nav h4{
    text-transform:uppercase ;
    font-weight: 500;
}
video{
    height: 100%; 
    width: 100%;
    object-fit: cover  ;
    position: fixed;
    z-index: -1;
}
#main{
    position:relative;
    background-color: rgba(0, 0, 0, 0.37);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index:10;
    
}  
#page1 h1::before{
    content:"EAT. DRINK. PLAY.";
    position:absolute;
    color:#000;
    top:-5px;
    left:-5px;
    -webkit-text-stroke: 2px #95C11E;
    z-index:-1 ;
    
     
}
 #page1 h1{
    font-size: 140px;
    font-weight: 900;
    position:relative;
 }
 #page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
 }
 #page1 p{
    font-size: 22px;
    font-weight: 500;
    width: 40%;
 }
 #page2{
    min-height: 100vh;
    width: 100%;
    z-index:10;
 }

 #scroller{
    /* background-color:red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index:10 ;
 }
 #scroller::-webkit-scrollbar{
    display:none;
 }  
 #scroller-in{
    display: inline-block;
    white-space:nowrap;
    animation-name:scroll;
    animation-duration:30s;
    animation-timing-function:linear;
    animation-iteration-count:infinite
 }
 #scroller h4{
    display: inline-block;
    font-size:120px;
    font-weight: 900;
    margin-right: 10px;
    transition:all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px green;
 }
 #scroller h4:hover{
    color:#95C11E
 }

 @keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
 }

 #about-us{
    height:40vh;
    width:100%;
    /* background-color: #96c11e; */
    display: flex;
    padding:0 50px;
    align-items: center;
    position:relative;
    justify-content: space-around;
    margin-bottom: 150px;
 }
 #about-us img{
    height: 300px;
    margin-top: 80px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
 }

 #about-us-in{
    width: 40%;
    text-align: center;
 }
 #about-us-in h3{       
    font-size: 54px; 
    font-weight: 800; 
    margin-bottom: 40px;
 }
 #about-us-in p{
    font-size: 20px;
    line-height: 26px;
 }
 #cards-container{
    /* background-color: red; */
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap:70px; 
    position: relative ;
    z-index: 10;
 }

 .card{
    height: 120%;
    width:22%;
    /* background-color: blue; */
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    overflow: hidden; 
    
 }
 #card1{
    background-image: url(hero-4.jpg);
 }
 #card2{
    background-image: url(page-lessons.jpg);
 }
 #card3{
    background-image: url(home-lessons.jpg);
 }

 .overlay{
    height: 200%;
    width: 100%;
    background-color: #95C11E;
    padding:30px;
    padding-top: 160px;
    opacity: 0 ;
    transition: all ease 0.6s;
 }
 .overlay h4{
    color:#000;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom:20px; 
    font-weight: 800;
  
 }
 .overlay p{
    color:#000;
    font-size: 18px;
 }

 .card:hover .overlay{
     opacity: 1;
 }
 .card:hover{
    transform: rotate3d(1,1,0,20deg );
 }

 #green-div{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
 }
 #green-div h4{
    width: 55%;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(to left bottom,#ACE022,green);
 }

 #green-div img{
    height: 100%;
    object-fit: cover;
    width:14%;
 }

 #page3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 55%;
    line-height: 45px;
    text-align: center;
 }
 #page3>img{
    position:absolute ;
    height: 60px;
 }

 #page3 #colon1{
    right:9%;
    top:72%;
 }

 #page3 #colon2{
    left:8%;
    top:62%;
 }
 #page4{
   height: 50vh;
   width: 100%;
   margin-bottom: 200px;
   /* background-color: red; */
   display: flex;
   align-items: center;
   justify-content: center ;
   gap:70px;
   position: relative;
 }

 .elem{
   height: 50%;
   width: 28%;
   overflow: hidden;
   border-radius: 20px;
   position: relative;
 }
 .elem h2{
   height: 100%;
   width: 100%;
   background-color: #95C11E;
   color: #000;
   display: flex;
   align-items: center;
   justify-content: center ;
   font-size:40px;
   position:absolute;
   z-index: 10;
   transition: all ease 0.6s;  ;
 }

 .elem img{
   height: 100%;
   width: 100%;
   object-fit:cover;
   scale:1.1;
 }

 .elem:hover h2{
   color:#fff;
   background-color: transparent ;
     
 }
 #page4 h1{
  font-size:100px;
  position:absolute;
  top:7%;
  font-weight: 1000;
  color:#000;
  -webkit-text-stroke: 2px #fff;

 }
 #footer{
   height: 40vh;
   width:100%;
   background: linear-gradient(to left bottom, #119f3A,#95C11E);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-start ;
   gap:150px;
   padding:0 100px;
 } 
 #footer>img{
   position:absolute;
   left:0;
   height: 70%;
   z-index:0;
 }
 /* #f1 img{
   height: 100px;
 } */

 #f2,#f3,#f4{
   width: fit-content;
   position: relative;
   z-index: 2;
 }
 #f2 h3{
   font-size:30px;
   white-space:nowrap;
   text-transform:uppercase;
   color:#000;
   font-weight: 900;
   margin-bottom: 8px;
   margin-left: 500px;
 }

 #f3 h3{
   font-size:30px;
   white-space:nowrap;
   text-transform:uppercase;
   color:#000;
   font-weight: 800;
   margin-bottom: 8px;

 }
 #f4 h4{
   font-size:18px;
   white-space:nowrap;
   text-transform:uppercase;
   color:#000;
   font-weight: 600;
   line-height: 20px;
   margin-bottom: 8px;

 }
